* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.box {
  align-items: center;
  justify-content: center;
  font-weight: 12px;
}
.counter {
  gap: 10px;
}
